<p-table [value]="productos">
            <ng-template pTemplate="header">
                <tr>
                    <th>SKU</th>
                    <th>Articulo</th>
                    <th>Marca</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-producto>
                <tr>
                    <td> {{producto.sku}}</td>
                    <td> {{producto.articulo}}</td>
                    <td> {{producto.marca}}</td>
                </tr>
            </ng-template>
        </p-table>