<div class="ui-g">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmación" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-panel header="Administración de Productos" [style]="{width: '80%', margin: '0 auto'}">
    <div style="margin-bottom: 20px">
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-fw pi-plus" (click)="showSearchDialog()" label="Ingresar Sku" [style]="{width: '100%'}"></button>
        </div>
    </div>
<p-table [value]="productos" [columns]="cols" [responsive]="true" dataKey="sku" [paginator]="true" [rows]="15" [globalFilterFields]="['sku']">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-producto let-columns="columns">
                <tr [pSelectableRow]="producto">
                    <td *ngFor="let col of columns">
                        {{producto[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>




    <!-- DIALOG PARA REGISTRAR UN PRODUCTO-->
    <p-dialog  header="Producto" [responsive]="true" [style]="{width: '400px'}" [(visible)]="displaySaveDialog"
    [modal]="true">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="sku">SKU</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="sku" [(ngModel)]="producto.sku" [disabled]="true" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="articulo">Articulo</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="articulo" [(ngModel)]="producto.articulo" required type="text"/>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="marca">Marca</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="marca" [(ngModel)]="producto.marca" required type="text"/>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="modelo">Modelo</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="modelo" [(ngModel)]="producto.modelo" required type="text"/>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="departamento">Departamento</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="departamentos"  [(ngModel)]="producto.departamento" optionLabel="nombre" optionValue="id" (ngModelChange)="onDepartamentoChange()">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="clase">Clase</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="clases" [(ngModel)]="producto.clase" optionLabel="nombre" optionValue="id" (ngModelChange)="onClaseChange()">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="familia">Familia</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="familias" [(ngModel)]="producto.familia" optionLabel="nombre" optionValue="id"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="stock">Stock</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="stock" [(ngModel)]="producto.stock" required type="number"/>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="cantidad">Cantidad</label>
            </div>
            <div class="ui-g-8">
                <p-inputNumber  id="cantidad" [(ngModel)]="producto.cantidad" [min]="producto.stock"></p-inputNumber>
            </div>
            <div *ngIf="producto.cantidad > producto.stock" class="error-message">
                La cantidad no puede ser mayor al stock.
              </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="cantidad">Descontinuado</label>
            </div>
            <div class="ui-g-8">
                <p-selectButton [options]="[{label: 'No', value: 0}, {label: 'Si', value: 1}]" [(ngModel)]="producto.descontinuado" optionLabel="label" optionValue="value" [disabled]="!showDescontinuado"></p-selectButton>            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button [disabled]="producto.cantidad > producto.stock" type="button" pButton icon="pi pi-check" (click)="save()" label="Guardar"></button>
        </div>
    </p-footer>
    </p-dialog>




    <!-- DIALOG PARA INGRESAR UN SKU-->
    <p-dialog  header="Ingresar SKU" [responsive]="true" [style]="{width: '400px'}" [(visible)]="searchSkuDialog"
    [modal]="true">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="sku">SKU</label>
            </div>
            <div class="ui-g-8">
                <p-inputNumber [(ngModel)]="selectedProducto.sku" inputId="minmax" inputId="minmax" mode="decimal" [min]="1" [max]="1000"> </p-inputNumber>

            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="showOptions()" label="Seleccionar"></button>
        </div>
    </p-footer>






<!-- DIALOG PARA EDITAR O ELIMINAR UN PRODUCTO-->
    </p-dialog>
    <p-dialog  header="Selecciona una opcion" [responsive]="true" [style]="{width: '400px'}" [(visible)]="existOptions"
    [modal]="true">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-8">
                <label id="sku">Producto existente</label> 
            </div>
            <div class="ui-g-4">
                <p-button label="Ver detalle" styleClass="p-button-help" (click)="showDetail()"></p-button>
                <p-button label="Editar" styleClass="p-button-warning" (click)="showSaveDialog(true)"></p-button>
                <p-button label="Eliminar" styleClass="p-button-danger" (click)="delete()"></p-button>
            </div>
        </div>
    </div>
    </p-dialog>
</div>